.screen-result{
  height: 50%;
  transition: .2s;
  will-change: transform;
}

.screen-result:hover{
  height: 200%;
  transition: .2s;
}

.playlist{
  height: 200%;
  transition: .2s;
  will-change: transform;
}

.Tag {
  font-size: 13px;
  line-height: 18px;
  margin-top: 10px;
  border-top: 1px solid rgba(255, 255, 255, .15);
  padding-top: 10px;
}

.Tag-playlist {
  font-size: 13px;
  line-height: 18px;
  margin-top: 10px;
  border-top: 1px solid rgba(255, 255, 255, .15);
  padding-top: 10px;
}

.Tag:nth-child(1) {
  margin-top: 0px;
  border-top: 0px;
  padding-top: 0px;
}

.Tag:last-child {
  margin-bottom: 0px;
}

.selected {
  color: rgb(37 99 235);
}

.playlist-first-title {
  border: 0px;
}